*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    border: 3px solid red;
    padding: 0;
    margin: 0;
    background-color: rgb(37, 37, 56);
    display: flex;
    flex-direction: column;
}

/* Header ------------------------------------------------ */

header{
    border: 3px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
}

.head{
    display: flex;
    justify-content: flex-end;
    margin: 25px;
    width: 1000px;
    padding: 0 20px;
    flex-shrink: 1;
    gap: 25px;

    background-color: rgb(50, 50, 66);
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(108, 102, 102);
    border: 3px solid rgb(50, 48, 48);
}

.head ul{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    padding: 0;
}

.head ul li a{
    list-style: none;
    text-decoration: none;
    color: aliceblue;
    transition: 10s;
}

.head ul li a:hover{
    text-decoration: underline;
}

#logo{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: auto;

    color: aliceblue;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 5px;
}

/* First Section ------------------------------------------------------------------ */

.first {
    border: 3px solid red;
    width: 100%;
    height: auto;
}

/* Second Section ------------------------------------------------------------------ */

.second {
    border: 3px solid red;
    width: 100%;
    height: auto;
}

/* Third Section ------------------------------------------------------------------ */

.third {
    border: 3px solid red;
    width: 100%;
    height: auto;
}

/* Fourth Section ------------------------------------------------------------------ */

.fourth {
    border: 3px solid red;
    width: 100%;
    height: auto;
}

/* Footer ------------------------------------------------------------------ */

footer {
    border: 3px solid red;
    width: 100%;
    height: 100px;
}