*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    border: 3px solid red;
    padding: 0;
    margin: 0;
    background-color: #0B192C;
    display: flex;
    flex-direction: column;
}

/* Header ------------------------------------------------ */

header{
    border: 3px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
}

.head{
    display: flex;
    justify-content: flex-end;
    margin: 25px;
    width: 1000px;
    padding: 0 25px;
    flex-shrink: 1;
    flex-grow: 0;
    gap: 25px;

    background-color: #0B192C;
    border-radius: 20px;
    box-shadow: 0 0 8px #FE7743;
    border: 3px solid #060d17;
    transition: 0.5s;
}

.head:hover{
    box-shadow: 0 0 10px #FE7743;
}

.head ul{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    padding: 0;
}

.head ul li a{
    list-style: none;
    text-decoration: none;
    color: aliceblue;
    letter-spacing: 1px;
}

.head ul li a:hover{
    text-decoration: underline;
}

.left-nav{
    display: flex;
    margin-right: auto;
    flex-shrink: 0;
    gap: 20px;
}

#logo{
    display: flex;
    align-items: center;
}

#logo img{
    width: 40px;
    height: auto;
}

#logo-name{
    display: flex;
    align-items: flex-end;
}

#logo-name img{
    width: auto;
    height: 28px;
    margin-bottom: 9px;
}

@media screen and (max-width:540px){
    #logo-name{
        display: none;
    }
}

@media screen and (max-width:412px) {
    #home-btn{
        display: none;
    }
}
    


/* First Section ------------------------------------------------------------------ */

.first {
    border: 3px solid red;
    width: 100%;
    min-height: 350px;
    height: auto;
    display: flex;
}

.first img{
    height: 160px;
    width: 314px;
}

/* Second Section ------------------------------------------------------------------ */

.second {
    border: 3px solid red;
    width: 100%;
    height: auto;
}

/* Third Section ------------------------------------------------------------------ */

.third {
    border: 3px solid red;
    width: 100%;
    height: auto;
}

/* Fourth Section ------------------------------------------------------------------ */

.fourth {
    border: 3px solid red;
    width: 100%;
    height: auto;
}

/* Footer ------------------------------------------------------------------ */

footer {
    border: 3px solid red;
    width: 100%;
    height: 100px;
}